/* Override any bootstrap variables here before importing bootstrap itself */

/* Add some room above headings right after p, code, ul, ol */
@for $i from 1 through 6 {
    p + h#{$i}, code + h#{$i},
    ul + h#{$i}, ol + h#{$i} {
        margin-top: 2rem;
    }
    h#{$i} a.permalink {
        visibility: hidden;
    }
    h#{$i}:hover a.permalink {
        visibility: visible;
    }
}

/* Override table text color 
 */
$table-color: white;

/* Import bootstrap's sass */
@import 'bootstrap';

/* Custom SASS imports */
@import 'partials/vertical-rhythm';

/* I don't know why FF/IE10 hates me
    but we need to hide x overflow.. grrr */
body { overflow-x: hidden; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/*
.bg-dark { background-color: #343a40 !important; }
*/

.nav-item > .nav-link > .donate {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: rgba(255, 255, 255, 0.5);
    text-decoration-color: rgba(255, 255, 255, 0.5);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto
}

.nav-item > .nav-link > .donate:focus, .nav-item > .nav-link > .donate:hover {
    color: rgba(255, 255, 255, 0.75);
}

article.page img {
    max-width: 100%;
}

@media (min-width: 360px) {
    #lede-hero {
        height: 55vh;
    }
}
#lede-hero {
    display: grid;
    grid-template-areas: "hero";
    height: 90vh;
    max-height: 90vh;
    place-items: center;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    height: 75vh;
    /* height: 55vh; */
}
#lede-hero > * {
    grid-area: hero;
}
#lede-hero .hero__content {
    z-index: 1;
}
#lede-hero > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    max-height: 75vh;
}
@media (max-width: 576px) {
    .hero__content h1 {
        font-size: 3rem;
    }
    .hero__content h2 {
        font-size: 2rem;
    }
}

.featurette-divider {
  height: 0 !important;
  border-top: 1px solid rgba(0,0,0,.9);
}
figcaption p {
    font-size: 0.85rem;
    font-style: italic;
}

/* Markdown code blocks, unstyled */
pre code {
    color:#f8f8f2;
    background-color:#272822;
    display: block;
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
}

/* style Mathjax <code> blocks differently */
code.has-jax {
    color: white;
    line-height: 1;
}

/*
n = number of images
a = time for one image presentation
b = duration of cross-fade
total animation-duration: t = (a+b)*n

n = 4 images
a = 6
b = 2
t = (6+2)*4 = 32

n= 4
a = 5
b = 2
t = 28s

keyframes:

0%
18%
25%
93%
100%

1. 0%
2. a/t*100%
3. (a+b)/t*100% = 1/n*100%
4. 100%-(b/t*100%)
5. 100%

1. 0
2. 19%
3. 25%
4. 94%
5. 100%

*/
#lede-hero > img {
    animation-name: heroFade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 28s;
}
#lede-hero > img {
    opacity: 1;
}
#lede-hero > img:nth-of-type(1) {
    animation-delay: 21s;
}
#lede-hero > img:nth-of-type(2) {
    animation-delay: 14s;
}
#lede-hero > img:nth-of-type(3) {
    animation-delay: 7s;
}
#lede-hero > img:nth-of-type(4) {
    animation-delay: 0s;
}
@keyframes heroFade {
    0%   { opacity: 1; }
    18%  { opacity: 1; }
    25%  { opacity: 0; }
    93%  { opacity: 0; }
    100% { opacity: 1; }
}

.marketing > div {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

footer {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.heart {
    color: red;
    font-size: 1.6rem;
    vertical-align: middle;
}

figure h4 {
    margin: 0;
}

/* Style discuss.pixls.us embeds */
html.siril {
    color: $gray-100;
}

/* Search styling */
.result-title {
  font-size: 1.5rem;
}
