---
author: Cyril Richard
date: 2020-12-20T08:32:35+00:00
---

<div class="container marketing mt-5">

<!-- Three columns of text below the carousel -->

    <div class="row justify-content-around mb-4">

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/calibrate.svg">
        <h2 class="text-center mt-2">Calibration</h2>
        <p>Remove unwanted signal and pattern from RAW images is the main goal of the first step of preprocessing. Siril can of course deal with BIASES/DARKS/FLATS master files.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/stack.svg">
        <h2 class="text-center mt-2">Stacking</h2>
        <p>Improve signal to noise ratio by combining many registered individual images. Outliers rejection will reduce noise even more.</p>
        </div><!-- /.col-lg-4 -->

    </div>
    <!-- /.row -->

    <div class="row justify-content-around mb-4">

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/enhance.svg">
        <h2 class="text-center mt-2">Enhancement</h2>
        <p>The stacked image can be improved before publication by calibrating the colours, applying deconvolution, stretching histogram and more.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-5 mt-3 mt-lg-0">
            <img class='d-block mx-auto' src="/images/icons/science.svg">
        <h2 class="text-center mt-2">Science</h2>
        <p>Because images can contain valuable scientific data, Siril provides tools to analyze star brightness variation. A powerful astrometry interaction will quickly give you information about objects in the image.</p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider my-5">

    <div class="row featurette">

        <div class="col-md-7 text-md-end">
        <h2 class="featurette-heading d-inline-block mt-0" style="background: linear-gradient(90deg, #8d67b5,#8d67b5,#2b7da2);-webkit-text-fill-color: transparent;background-clip: text; -webkit-background-clip: text; font-weight: bold;">Your complete astro workflow.</h2>
<div class="h3 text-muted mt-0">It’ll blow your mind.</div>
        <p class="lead">Siril is fully capable to pre-process and process astronomic images by offering to the users a large set of dedicated algorithms. User can do it automatically using dedicated scripts or manually if he prefers to keep control over each step.</p>
        </div>

        <div class="col-md-5">
        <img src="/images/b33light.png" style="width:100%; border-radius:10px;"/>
        </div>

    </div>

    <hr class="featurette-divider my-5">

    <div class="row featurette">

        <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading d-inline-block mt-0" style="background: linear-gradient(90deg, #2b7da2, #8d67b5);-webkit-text-fill-color: transparent;background-clip: text; -webkit-background-clip: text; font-weight: bold;">Deep-sky lucky imaging processing speed operations. </h2>
<div class="h3 text-muted mt-0">See for yourself.</div>
        <p class="lead">Thanks to the ability to natively process SER videos, Siril is really adapted to the deep-sky lucky imaging technic. All algorithms work use all cores of the computer, it is then possible to process more than 60 000 frames with no effort. Adapting the registration method following the case (on all stars, one star or on the nebulae body) makes the alignment nearly never fail, even if stars are faint.</p>
        </div>

        <div class="col-md-5 order-md-1">
        <img src="/images/cropped-crabe.jpg" style="width:100%; border-radius:10px;"/>
        </div>

    </div>

    <hr class="featurette-divider my-5">

    <div class="row featurette">

        <div class="col-md-7 text-md-end">
        <h2 class="featurette-heading d-inline-block mt-0" style="background: linear-gradient(90deg, #8d67b5,#2b7da2);-webkit-text-fill-color: transparent;background-clip: text; -webkit-background-clip: text; font-weight: bold;">Fast and flexible. </h2>
        <div class="h3 text-muted mt-0">Checkmate.</div>
        <p class="lead">Taking the great advantage of the SER file format, or the FITS-Cube, only one more file is created for each preprocess step. Each stacking method runs in parallel. In consequence, processing 10 000 images can go as fast as drinking a cup of coffee.</p>
        </div>

        <div class="col-md-5">
        <img src="/images/cropped-kiwi.jpg" style="width:100%; border-radius:10px;"/>
        </div>

    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <!-- Test the CI/CD build pipeline -->

</div>
