{{ define "main" }}

<section class="page container mt-5 article">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-title">{{ .Title }}</h1>
        </div>
    </div>

    <div class="row justify-content-center mb-5 mt-4">
        <div class="col-lg-10">
            <div class="recent-release">

                <div class='text-center'>
                    {{ if (isset .Params "version") }}
                        {{ i18n "indexDownloadText" . }} {{ .Params.version }} {{ i18n "releasedOn" . }}  
                        {{ if and (.IsTranslated) (eq .Lang "fr") }}
                            {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}.
                        {{ else }}
                            {{ .Date.Format "January 2, 2006" }}.
                        {{ end }}
                    {{ else }}
                        {{ .Date.Format "January 2, 2006" }}
                    {{ end }}
                </div>
                <div class='dl-buttons text-center mt-0'>
                    <br>

                    {{ partial "download-buttons.html" . }}

                    {{/* {{ with .Params.linux_appimage }} */}}
                    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                    {{/*     <span> */}}
                    {{/*         <span class='dl-type'>{{ i18n "appImage" . }}</span> */}}
                    {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
                    {{/*     </span> */}}
                    {{/* </a> */}}
                    {{/* {{ end }} */}}

                    {{/* {{ with .Params.linux_binary_32 }} */}}
                    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}

                    {{/*     <span> */}}
                    {{/*         <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "32bit" . }}</span> */}}
                    {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
                    {{/*     </span> */}}
                    {{/* </a> */}}
                    {{/* {{ end }} */}}

                    {{/* {{ with .Params.linux_binary_64 }} */}}
                    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                    {{/*     <span> */}}
                    {{/*         <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "64bit" . }}</span> */}}
                    {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
                    {{/*     </span> */}}
                    {{/* </a> */}}
                    {{/* {{ end }} */}}

                    {{/* {{ with .Params.windows_binary }} */}}
                    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                    {{/*     <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
                    {{/*     <span class='dl-os'>{{ i18n "windows" . }}</span> */}}
                    {{/* </a> */}}
                    {{/* {{ end }} */}}

                    {{/* {{ with .Params.windows_xp_binary }} */}}
                    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                    {{/*     <span class='dl-type'>{{ i18n "32bit" . }}</span> */}}
                    {{/*     <span class='dl-os'>{{ i18n "windowsXp" . }}</span> */}}
                    {{/* </a> */}}
                    {{/* {{ end }} */}}

                    {{/* <script type="module" src="https://get.microsoft.com/badge/ms-store-badge.bundled.js"></script> */}}
                    {{/* <style>ms-store-badge::part(img) { max-height: 36px; vertical-align: middle; }</style> */}}
                    {{/* <ms-store-badge */}}
                    {{/*   productid="XPDM23ZQ9CCLVF" */}}
                    {{/*   window-mode="full" */}}
                    {{/*   animation="on"> */}}
                    {{/* </ms-store-badge> */}}

                    {{/* {{ with .Params.mac_binary }} */}}
                    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                    {{/*     <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
                    {{/*     <span class='dl-os'>{{ i18n "mac" . }}</span> */}}
                    {{/* </a> */}}
                    {{/* {{ end }} */}}

                    {{/* {{ with .Params.source_code }} */}}
                    {{/* <a class="btn btn-outline-info dl-btn" href="{{ . }}" role="button">{{ i18n "sourceCode" . }}</a> */}}
                    {{/* {{ end }} */}}
                </div>


            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>

</section>

<section class='row justify-content-center mt-5'>
    <div id='discourse-comments' class='col-lg-8'>
        <script type="text/javascript">
          DiscourseEmbed = { discourseUrl: 'https://discuss.pixls.us/',
              discourseEmbedUrl: '{{ .Permalink }}' };

          (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();
        </script>
    </div>
</section>

{{ end }}
