{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


<section class="page container">
  <div class='row justify-content-center'>

    <div class='col-lg-8'>

      <h1>
      {{ .Title | markdownify }}
      </h1>

      <div class='lunrSearch'>
        <form id='searchForm' class='input-group input-group-lg' action="https://duckduckgo.com/">
            <input id="search" type="text" class='form-control' aria-label='Search terms' placeholder="Search with DuckDuckGo" name='q'>
            <input id="searchsite" type='hidden' name='sites' value='siril.org'>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class='mt-4 mb-2'>

          <h2 class='mb-n1'>
            {{ i18n "results" }}
          </h2>

          <div id='matches' class='mb-1 font-italic'> </div>

        </div>

          <ul id="results" class='search-results'>
          </ul>
      </div>

    </div>
  </div>
</section>

{{ end }}
