{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


<article class='page container mt-5'>

    <div class='row justify-content-center'>
        <div class='col-lg-8'>
            <h1 class="title">
                {{ .Title | markdownify }}
            </h1>
            {{ with .Params.show_author }}
                {{ if eq . true }}
                    {{ with $.Page.Params.author }}
                        <div class="font-weight-light font-italic mt-n2">{{ i18n "by" }} {{ . }}</div>
                    {{ end }}
                {{ end }}
            {{ end }}

            {{ if .Params.TOC }}
            <h4 class="mb-1 mt-0">{{ i18n "contents" }}</h4>
            {{ .TableOfContents }}
            <hr/>
            {{ end }}
            
            {{ .Content }}

        </div>

    </div>

</article>


<section class='row justify-content-center mt-5'>
    <div id='discourse-comments' class='col-lg-8'>
        <script type="text/javascript">
          DiscourseEmbed = { discourseUrl: 'https://discuss.pixls.us/',
              discourseEmbedUrl: '{{ .Permalink }}' };

          (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();
        </script>
    </div>
</section>

{{ end }}
