{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": {{ .Site.BaseURL }},
    "description": "{{ $.Site.Params.description }}",
    "thumbnailUrl": {{ .Site.Params.Logo | absURL }},
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage -}}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $organization :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink }}
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "{{ $organization }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $organization }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": {{ .Site.Params.logo | absURL }},
            "width":"32",
            "height":"32"
        }
    },
{{/*
    "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
*/}}
    {{- with $.Params.featured_image -}}
        {{ if (hasPrefix . "http") }}
    "image": {{ . }},
        {{ else if (hasPrefix . "/") }}
    "image": {{ printf "%s%s" $.Site.BaseURL . }},
        {{ else }}
    "image": {{ printf "%s%s" $.Page.Permalink . }},
        {{ end -}}
    {{ else }}
        {{ with $.Site.Params.images }}
            {{ range first 1 $.Site.Params.images }}
   "image": {{ . | absURL }},
            {{ end }}
        {{ end -}}
    {{ end -}}
    "url" : {{ .Permalink }},
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $tag := .Params.projects }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}]
}
</script>
{{ end }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
{{- if .IsPage }}
<meta property="og:article:author" content="{{ with .Params.writer | default $.Site.Author.name }}{{ . }}{{ end }}" />
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTMLAttr }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink }}" />
{{- with $.Params.featured_image -}}
    {{ if (hasPrefix . "http") }}
<meta property="og:image" content="{{ . }}" />
    {{ else if (hasPrefix . "/") }}
<meta property="og:image" content="{{ printf "%s%s" $.Site.BaseURL . }}" />
    {{ else }}
<meta property="og:image" content="{{ printf "%s%s" $.Page.Permalink . }}" />
    {{ end }}
{{ else }}
    {{ with $.Site.Params.images }}
        {{ range first 1 $.Site.Params.images }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
    {{ end }}
{{ end }}
