<footer>
  <div class='col-12'>
    <div class='pb-2 mb-2 '>
      <div>
        <p class=''>Follow us:</p>
      </div>
      <span class='mx-2'>
        <a rel="me" href='https://astrodon.social/@Siril_Official' title='Follow us on Mastodon'>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mastodon" viewBox="0 0 16 16">
            <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/>
          </svg>
        </a>
      </span>
      <span class='mx-2'>
        <a href='https://twitter.com/siril_official' title='Follow us on Twitter'>
          <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-twitter" viewbox="0 0 300 290">
           <path d="m236 0h46l-101 115 118 156h-92.6l-72.5-94.8-83 94.8h-46l107-123-113-148h94.9l65.5 86.6zm-16.1 244h25.5l-165-218h-27.4z"/>
          </svg>
        </a>
      </span>
      <span class='mx-2'>
        <a href='https://bsky.app/profile/siril.org' title='Follow us on Bluesky'>
          <svg version="1.1" width='32' height='32' fill="currentColor"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="8 8 40 35" >
          <style type="text/css">
            {{/* .st0{fill:#1185FE;} */}}
          </style>
          <path class="st0" d="M27.5,25.73c-1.6-3.1-5.94-8.89-9.98-11.74c-3.87-2.73-5.35-2.26-6.31-1.82c-1.12,0.51-1.32,2.23-1.32,3.24
            c0,1.01,0.55,8.3,0.92,9.51c1.2,4.02,5.45,5.38,9.37,4.94c0.2-0.03,0.4-0.06,0.61-0.08c-0.2,0.03-0.41,0.06-0.61,0.08
            c-5.74,0.85-10.85,2.94-4.15,10.39c7.36,7.62,10.09-1.63,11.49-6.33c1.4,4.69,3.01,13.61,11.35,6.33c6.27-6.33,1.72-9.54-4.02-10.39
            c-0.2-0.02-0.41-0.05-0.61-0.08c0.21,0.03,0.41,0.05,0.61,0.08c3.92,0.44,8.18-0.92,9.37-4.94c0.36-1.22,0.92-8.5,0.92-9.51
            c0-1.01-0.2-2.73-1.32-3.24c-0.97-0.44-2.44-0.91-6.31,1.82C33.44,16.85,29.1,22.63,27.5,25.73z"/>
          </svg>
        </a>
      </span>
      <span class='mx-2'>
        <a href='https://www.facebook.com/Siril.FreeAstro' title='Follow us on Facebook'>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        </a>
      </span>
      <span class='mx-2'>
        <a href='https://discuss.pixls.us/siril/' title='Join us on pixls.us forum'>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 4.233 4.233"><g transform="matrix(.26458 0 0 .26458 -38.861 -85.22)"><path d="M147.11 322.33h15.538v15.538H147.11z" fill="#fff" stroke-width=".462" stroke="#323232"/><path d="M148.7 325.826h1.898v.495a3.25 3.25 0 0 1 .828-.466 2.56 2.56 0 0 1 .926-.173c.391 0 .75.073 1.076.219a2.46 2.46 0 0 1 .843.615 2.82 2.82 0 0 1 .549.952c.13.37.196.779.196 1.228 0 .479-.073.916-.219 1.311s-.348.733-.607 1.015a2.74 2.74 0 0 1-.923.659c-.357.157-.748.236-1.173.236-.303 0-.572-.032-.808-.095a4.21 4.21 0 0 1-.676-.244v1.927h.932v.989h-2.83v-.989h.817v-6.689h-.828zm3.37.799a1.97 1.97 0 0 0-.797.167 2.05 2.05 0 0 0-.664.46v3.227c.127.13.308.247.544.351s.53.155.883.155a1.79 1.79 0 0 0 .707-.144c.226-.096.426-.239.598-.428s.311-.425.414-.705.155-.604.155-.972c0-.337-.049-.637-.147-.897s-.23-.481-.397-.661-.361-.317-.584-.411-.46-.141-.713-.141zm7.053 4.178h.339l-1.185-1.472-1.156 1.472h.293v.989h-1.978v-.989h.483l1.812-2.111-1.702-1.869h-.604v-.989h1.978v.989h-.224l1.099 1.415 1.11-1.415h-.288v-.989h1.978v.989h-.512l-1.685 1.944 1.783 2.036h.437v.989h-1.978z" fill="#323232"/></g></svg>
      </span>
        </a>

    </div>

    <p>
      &copy; {{ i18n "copyright" }} {{ now.Format "2006" }} {{ i18n "copyrightEntity" }}
    </p>
    <div class='pixls-love mb-2 text-secondary'>
      <small class="pt-2 border-top">
        <a href="https://pixls.us" title="PIXLS.US - Free/Open Source Photography">PIXLS.US</a> <span class='heart'>♡</span>  {{ i18n "copyrightEntity" }}
      </small>
    </div>
  </div>
</footer>
