<section id="lede-hero" style="">
    
    <div class="hero__content text-center px-3">
        <div class='row'>
            <div class='col-md-6 text-md-end'>
                <img src="/free_astro.siril.svg" alt="Siril Logo" class="align-text-bottom d-none d-lg-inline" height="175">
                <img src="/free_astro.siril.svg" alt="Siril Logo" class="align-text-bottom d-inline d-lg-none" height="120">
            </div>
            <div class='col-md-6 my-auto text-md-start'>
                <h1 class='display-2 mb-0'>Siril</h1>
            </div>
        </div>
        <div class='row'>
        <h2 class='mt-0'>{{ i18n "slogan" . }}</h2>
        </div>


            {{ range first 1 (where .Site.RegularPages "Type" "download") }}

            <div class='dl-buttons text-center'>
                <div>{{ i18n "indexDownloadText" . }} {{ .Params.version }} {{ i18n "releasedOn" . }}  
                    {{ if and (.IsTranslated) (eq .Lang "fr") }}
                        {{ .Date.Day }}  {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}  {{ .Date.Year }}.
                    {{ else }}
                        {{ .Date.Format "January 2, 2006" }}.
                    {{ end }}
                    <small class='text-nowrap'>(<a href="{{ .Permalink }}">{{ i18n "releaseNotes" . }}</a>)</small>
                </div>
                <br>

								{{ partial "download-buttons.html" . }}

                {{/* {{ with .Params.linux_appimage }} */}}
                {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                {{/*     <span> */}}
                {{/*         <span class='dl-type'>{{ i18n "appImage" . }}</span> */}}
                {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
                {{/*     </span> */}}
                {{/* </a> */}}
                {{/* {{ end }} */}}

                {{/* {{ with .Params.linux_binary_32 }} */}}
                {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                {{/*     <span> */}}
                {{/*         <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "32bit" . }}</span> */}}
                {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
                {{/*     </span> */}}
                {{/* </a> */}}
                {{/* {{ end }} */}}

                {{/* {{ with .Params.linux_binary_64 }} */}}
                {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
                {{/*     <span> */}}
                {{/*         <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "64bit" . }}</span> */}}
                {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
                {{/*     </span> */}}
                {{/* </a> */}}
                {{/* {{ end }} */}}

								{{/* <span class="dropdown"> */}}
									{{/* <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> */}}
										{{/* Windows */}}
									{{/* </button> */}}
									{{/* <ul class="dropdown-menu"> */}}
										{{/* {{ with .Params.windows_binary }} */}}
										{{/* <a class="dropdown-item" href="{{ . }}"> */}}
												{{/* <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
												{{/* <span class='dl-os'>{{ i18n "windows" . }}</span> */}}
										{{/* </a> */}}
										{{/* {{ end }} */}}
										{{/* <a class="dropdown-item" href='https://apps.microsoft.com/store/detail/siril/XPDM23ZQ9CCLVF'> */}}
											{{/* Microsoft Store */}}
										{{/* </a> */}}
										{{/* {{ with .Params.windows_portable }} */}}
										{{/* <a class="dropdown-item" href="{{ . }}"> */}}
												{{/* <span class='dl-type'>{{ i18n "portable" . }}</span> */}}
												{{/* <span class='dl-os'>{{ i18n "windows" . }}</span> */}}
										{{/* </a> */}}
										{{/* {{ end }} */}}
									{{/* </ul> */}}
								{{/* </span> */}}	

                {{/* {{/1* {{ with .Params.windows_binary }} *1/}} */}}
                {{/* {{/1* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> *1/}} */}}
                {{/* {{/1*     <span class='dl-type'>{{ i18n "64bit" . }}</span> *1/}} */}}
                {{/* {{/1*     <span class='dl-os'>{{ i18n "windows" . }}</span> *1/}} */}}
                {{/* {{/1* </a> *1/}} */}}
                {{/* {{/1* {{ end }} *1/}} */}}

                {{/* {{/1* {{ with .Params.windows_32_binary }} *1/}} */}}
                {{/* {{/1* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> *1/}} */}}
                {{/* {{/1*     <span class='dl-type'>{{ i18n "32bit" . }}</span> *1/}} */}}
                {{/* {{/1*     <span class='dl-os'>{{ i18n "windowsXp" . }}</span> *1/}} */}}
                {{/* {{/1* </a> *1/}} */}}
                {{/* {{/1* {{ end }} *1/}} */}}

                {{/* {{/1* <script type="module" src="https://get.microsoft.com/badge/ms-store-badge.bundled.js"></script> *1/}} */}}
                {{/* {{/1* <style>ms-store-badge::part(img) { max-height: 36px; vertical-align: middle; border: solid 1px gray; }</style> *1/}} */}}
                {{/* {{/1* <ms-store-badge *1/}} */}}
                {{/* {{/1*   productid="XPDM23ZQ9CCLVF" *1/}} */}}
                {{/* {{/1*   window-mode="full" *1/}} */}}
                {{/* {{/1*   animation="on"> *1/}} */}}
                {{/* {{/1* </ms-store-badge> *1/}} */}}

								{{/* <span class="dropdown"> */}}
									{{/* <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> */}}
										{{/* macOS */}}
									{{/* </button> */}}
									{{/* <ul class="dropdown-menu"> */}}
										{{/* {{ with .Params.mac_binary }} */}}
										{{/* <a class="dropdown-item" href="{{ . }}" role="button"> */}}
												{{/* <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
												{{/* <span class='dl-os'>{{ i18n "mac" . }}</span> */}}
										{{/* </a> */}}
										{{/* {{ end }} */}}
										{{/* {{ with .Params.mac_arm }} */}}
										{{/* <a class="dropdown-item" href="{{ . }}" role="button"> */}}
												{{/* <span class='dl-type'>{{ i18n "arm" . }}</span> */}}
												{{/* <span class='dl-os'>{{ i18n "mac" . }}</span> */}}
										{{/* </a> */}}
										{{/* {{ end }} */}}
									{{/* </ul> */}}
								{{/* </span> */}}

                {{/* {{/1* {{ with .Params.mac_binary }} *1/}} */}}
                {{/* {{/1* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> *1/}} */}}
                {{/* {{/1*     <span class='dl-type'>{{ i18n "64bit" . }}</span> *1/}} */}}
                {{/* {{/1*     <span class='dl-os'>{{ i18n "mac" . }}</span> *1/}} */}}
                {{/* {{/1* </a> *1/}} */}}
                {{/* {{/1* {{ end }} *1/}} */}}

                {{/* {{ with .Params.source_code }} */}}
                {{/* <a class="btn btn-outline-info dl-btn" href="{{ . }}" role="button">{{ i18n "sourceCode" . }}</a> */}}
                {{/* {{ end }} */}}
            </div>

            {{ end }}

    </div>

    <img src="/images/lede-hero/SxTRr-_Hnowx_1824x0_cczXV3LN.jpg" alt="">
    <img src="/images/lede-hero/G_A9i-f5PddJ_1824x0_Qam0s4nf.jpg" alt="">
    <img src="/images/lede-hero/bCN6QdAu1zNf_1824x0_cczXV3LN.jpg" alt="">
    <img src="/images/lede-hero/8f0txgJCYhid_1824x0_cczXV3LN.jpg" alt="">
    <img src="/images/lede-hero/ZP_wGGBUdlly_1824x0_8KqOq8wO.jpg" alt="">

</section>

<!--
<section class='container' id='intro'>
    <div class='row justify-content-center'>
        <div class='col-lg-10 text-center'>

            <h2>
            {{ i18n "slogan" . }}
            </h2>

            {{ range first 1 (where .Site.RegularPages "Type" "download") }}

            <div class='dl-buttons text-center'>
                <div>{{ i18n "indexDownloadText" . }} {{ .Params.version }} {{ i18n "releasedOn" . }}  {{ .Date.Format "January 2, 2006" }}.
                    <small class='text-nowrap'>(<a href="{{ .Permalink }}">{{ i18n "releaseNotes" . }}</a>)</small>
                </div>
                <br>

                {{ with .Params.linux_appimage }}
                <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button">
                    <span>
                        <span class='dl-type'>{{ i18n "appImage" . }}</span>
                        <span class='dl-os'>{{ i18n "linux" . }}</span>
                    </span>
                </a>
                {{ end }}

                {{ with .Params.linux_binary_32 }}
                <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button">
                    <span>
                        <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "32bit" . }}</span>
                        <span class='dl-os'>{{ i18n "linux" . }}</span>
                    </span>
                </a>
                {{ end }}

                {{ with .Params.linux_binary_64 }}
                <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button">
                    <span>
                        <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "64bit" . }}</span>
                        <span class='dl-os'>{{ i18n "linux" . }}</span>
                    </span>
                </a>
                {{ end }}

                {{ with .Params.windows_binary }}
                <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button">
                    <span class='dl-type'>{{ i18n "64bit" . }}</span>
                    <span class='dl-os'>{{ i18n "windows" . }}</span>
                </a>
                {{ end }}

                {{ with .Params.windows_32_binary }}
                <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button">
                    <span class='dl-type'>{{ i18n "32bit" . }}</span>
                    <span class='dl-os'>{{ i18n "windowsXp" . }}</span>
                </a>
                {{ end }}

                {{ with .Params.mac_binary }}
                <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button">
                    <span class='dl-type'>{{ i18n "64bit" . }}</span>
                    <span class='dl-os'>{{ i18n "mac" . }}</span>
                </a>
                {{ end }}

                {{ with .Params.source_code }}
                <a class="btn btn-outline-info dl-btn" href="{{ . }}" role="button">{{ i18n "sourceCode" . }}</a>
                {{ end }}
            </div>

            {{ end }}


        </div>
    </div>

</section>
-->
